@model Assignment.Models.User
@{
    ViewBag.Title = "Detail Profile";
}

    <h2>DetailProfile</h2>
<fieldset>
    <legend>DetailUser</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Firstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lastname)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "UpdateProfile", "Admin") |
    @Html.ActionLink("Back to List", "Index")
</p>
