@model Assignment.Models.ViewModel
@{
    ViewBag.Title = "Admin";
}
<div>
        <strong>@Html.Encode(User.Identity.Name)</strong>
        <br/>@Html.ActionLink("Sign Out", "SignOut", "Admin")
        <br/>@Html.ActionLink("Detail Profile", "DetailProfile", "Admin")
        <br/>@Html.ActionLink("Update Profile", "UpdateProfile", "Admin")
        <br/>@Html.ActionLink("Change Password", "ChangePassword", "Admin")
        <br/>@Html.ActionLink("List All User", "ListUsers", "Admin")

</div>





