@model Assignment.Models.ViewModel
@{
    ViewBag.Title = "Sign In";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    var item = Model.SignIn;
    @Html.ValidationSummary(true, "SignIn failed. Check your signin details.");
    <div>
            <div class="editor-label">
                @Html.LabelFor(u => item.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => item.Username)
                @Html.ValidationMessageFor(u => item.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => item.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => item.Password)
                @Html.ValidationMessageFor(u => item.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => item.Remember)
                @Html.LabelFor(u => item.Remember)
            </div>
            <input type="submit" value="Sign In" />
    </div>
}