<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/home.css" />
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="profile">
            @if (Request.IsAuthenticated)
            {
                <span>@Html.Encode(User.Identity.Name)</span>
                <ul>
                    <li>@Html.ActionLink("Detail Profile", "DetailProfile", "Admin")</li>
                    <li>@Html.ActionLink("Update Profile", "UpdateProfile", "Admin")</li>
                    <li>@Html.ActionLink("Sign Out", "SignOut", "Admin")</li>
                </ul>
            }
            
            else
            {
                @model Assignment.Models.ViewModel
                
                var item = Model.SignIn;
                              
                using (Html.BeginForm("SignIn", "Admin"))
                {
                    @Html.ValidationSummary(true, "SignIn failed. Check your signin details.");

                    <div class="frm">
                            
                        <div class="lbl">
                            @Html.LabelFor(u => item.Username)
                        </div>
                        <div class="txt">
                            @Html.TextBoxFor(u => item.Username)
                            @Html.ValidationMessageFor(u => item.Username)
                        </div>
                        <div class="lbl">
                            @Html.LabelFor(u => item.Password)
                        </div>
                        <div class="txt">
                            @Html.PasswordFor(u => item.Password)
                            @Html.ValidationMessageFor(u => item.Password)
                        </div>
                        <div class="lbl">
                            @Html.CheckBoxFor(u => item.Remember)
                            @Html.LabelFor(u => item.Remember)
                        </div>
                        <input type="submit" value="Sign In" />
                        @Html.ActionLink("Sign Up", "SignUp", "Admin")
                            
                    </div>
                }
            }
        </div>
        <nav>
            <ul>
                <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </nav>
    </header>

    <section>

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    
    </section>

    
    <footer>

    </footer>
</body>
</html>
