@model Assignment.Areas.Admin.Models.GetUser

@{
    ViewBag.Title = "DetailProfile";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>DetailProfile</h2>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Firstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lastname)
    </div>
<p>
    @Html.ActionLink("Update", "updateprofile", "home", new { area = "admin" }, null) |
    @Html.ActionLink("Back to List", "index", "home", new { area = "admin" }, null)
</p>
