@model Assignment.Models.ViewModel

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>SignIn</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.SignIn.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SignIn.Username)
                @Html.ValidationMessageFor(model => model.SignIn.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.SignIn.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.SignIn.Password)
                @Html.ValidationMessageFor(model => model.SignIn.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(model => model.SignIn.Remember)
                @Html.LabelFor(model => model.SignIn.Remember)
            </div>
            <input type="submit" value="Sign In" />
    </div>
}