@model Assignment.Models.InsertUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Create user failure. Check your input details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Username)
                @Html.ValidationMessageFor(u => u.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.ConfirmPassword)
                @Html.ValidationMessageFor(u => u.ConfirmPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Firstname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Firstname)
                @Html.ValidationMessageFor(u => u.Firstname)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Lastname)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Lastname)
                @Html.ValidationMessageFor(u => u.Lastname)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Address)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Address)
                @Html.ValidationMessageFor(u => u.Address)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.Email)
                @Html.ValidationMessageFor(u => u.Email)
            </div>
            <input type="submit" value="Sign Up" />
        </fieldset>
    </div>
}