@model Assignment.Areas.Admin.Models.GetUser

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Detail</h2>
<h2>DetailUser</h2>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Firstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lastname)
    </div>
<p>
    @Html.ActionLink("Edit", "Update", "User", new { area = "Admin", id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

