@model Assignment.Areas.Admin.Models.ViewModel

@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>User Management</h2>
<p>
    @Html.ActionLink("Create User", "Create")
</p>
<table>
    @foreach (var item in Model.AllUsers)
        {
    <tr>
        <th>
            Id
            @Html.DisplayNameFor(model => item.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => item.Lastname)
        </th>
        <th></th>
    </tr>
    break;
    }

    @try { 
    
        foreach (var item in Model.AllUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }    
        
    } catch (NullReferenceException ex) {
        <tr>
            <td>No Article</td>
        </tr>
    }

</table>

