@model Assignment.Models.ViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    @foreach (var item in Model.Posts) {
        <tr>
            <th>
                @Html.DisplayNameFor(model => item.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Type)
            </th>
            <th></th>
        </tr>
        break;
    }

       
    

@foreach (var item in Model.Posts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
